* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.screen {
  border: 3px solid black;
  width: 300px;
  height: 100px;
}
.buttons {
  display: grid;
  grid-template-columns: 70px 70px 70px 70px;
  justify-content: space-between;
}
.btn {
  height: 70px;
}
